<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>タブレットクロック</title>
		<script defer src="TabletClock.js"></script>
		<script src="Graph.js"></script>
		<script src="SocketClient.js"></script>
		<script>
			const serverIP = "<%=serverIP%>";
			const darkModeInit = <%=darkMode%>;
		</script>
		<link rel="stylesheet" href="TabletClock.css">
	</head>
	<body>
		<div id="background">
			<div id="background_before"></div>
			<div id="background_after"></div>
			<div id="background_darkmode" class="darkmode hidden"></div>
		</div>
		<div id="top_buttons">
			<div id="toggle_fullscreen" onclick="onToggleFullscreenButtonClick()">
				<img src="images/fullscreen.svg">
			</div>
			<div id="no_socket" onclick="onReconnectBottonClick()">
				<img src="images/no_socket.svg">
			</div>
		</div>
		<div id="main">
			<div id="clock">
				<p id="date"><span id="date_month"></span>月<span id="date_date"></span>日 (<span id="date_day"></span>)</p>
				<p id="time"><span id="time_hour"></span>:<span id="time_minute"></span></p>
			</div>
			<div id="information_panels">
				<div id="weather_forecast_panel">
					<div id="current_weather">
						<div id="weather_timewind">
							<p class="weather_time">--:--</p>
							<div id="weather_wind">
								<img id="weather_wind_direction" src="images/wind_direction.svg">
								<p><span id="weather_wind_speed">-.-</span>m/s</p>
							</div>
						</div>
						<img class="weather_icon invisible">
						<div id="weather_temphumid">
							<p><span id="weather_temperature">--.-</span>℃</p>
							<p><span id="weather_humidity">--</span>%</p>
						</div>
						<div id="weather_precipitation">
							<img src="images/precipitation.svg">
							<p><span id="weather_precipitation_value">--</span>mm</p>
						</div>
					</div>
					<div id="weather_forecast">
						<div>
							<p class="weather_time small_text">--</p>
							<img class="weather_icon invisible">
						</div>
						<div>
							<p class="weather_time small_text">--</p>
							<img class="weather_icon invisible">
						</div>
						<div>
							<p class="weather_time small_text">--</p>
							<img class="weather_icon invisible">
						</div>
						<div>
							<p class="weather_time small_text">--</p>
							<img class="weather_icon invisible">
						</div>
						<div>
							<p class="weather_time small_text">--</p>
							<img class="weather_icon invisible">
						</div>
						<div>
							<p class="weather_time small_text">--</p>
							<img class="weather_icon invisible">
						</div>
						<div>
							<p class="weather_time small_text">--</p>
							<img class="weather_icon invisible">
						</div>
						<div>
							<p class="weather_time small_text">--</p>
							<img class="weather_icon invisible">
						</div>
					</div>
				</div>
				<div id="schedule_panel">

				</div>
				<div id="temperature_humidity_panel">
					<div id="temperature_area" class="graph">
						<div class="graph_current_value">
							<img src="images/temperature.svg">
							<p><span id="temperature"><%=temperature%></span>℃</p>
						</div>
						<canvas width="0" height="0"></canvas>
					</div>
					<div id="humidity_area" class="graph">
						<div class="graph_current_value">
							<img src="images/humidity.svg">
							<p><span id="humidity"><%=humidity%></span>%</p>
						</div>
						<canvas width="0" height="0"></canvas>
					</div>
				</div>
			</div>
		</div>
		<div id="darkmode_filter" class="darkmode hidden"></div>
	</body>
</html>