html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	background-color: #4a6bd4;
	font-family: sans-serif;
}
p {
	margin: 0;
	color: white;
}
.hidden {
	display: none;
}
#toggle_fullscreen {
	position: absolute;
	width: 60px;
	height: 50px;
	top: 10px;
	left: 10px;
	background-color: rgba(0, 0, 0, 50%);
	border-radius: 10px;
}
#toggle_fullscreen > img {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 75%;
}
#main {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}
#clock {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}
#date {
	font-size: 32px;
}
#time {
	font-size: 96px;
	font-weight: bold;
}
#information_panels {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	width: calc(100% - 50px);
	height: calc(100% - 270px);
}
#information_panels > div {
	margin: 20px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 50%);
	border: solid 1px white;
	border-radius: 20px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 25%);
}
#weather_forecast_panel {
	grid-column: 1;
	grid-row: 1;
	margin-bottom: 10px !important;
}
#schedule_panel {
	grid-column: 1;
	grid-row: 2;
	margin-top: 10px !important;
}
#temperature_humidity_panel {
	grid-column: 2;
	grid-row: 1 / 3;
	display: flex;
	flex-direction: column;
}
.graph {
	position: relative;
}
.graph_current_value {
	display: flex;
	align-items: center;
	justify-content: end;
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.graph_current_value > img {
	width: 30px;
	height: 30px;
}
.graph_current_value > p {
	margin-left: 10px;
	font-size: 36px;
	line-height: 36px;
}