/* CSS変数 */
:root {
    --card-flip-interval: 10s;
    --card-bar-width: 0px;
}

/* 全体 */
html {
    width: 100%;
    min-width: 1174px;
    height: 100%;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

/* 個別 */
/* 背景 */
#background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: lightskyblue;
}

/* メッセージボックス */
#message_box {
    position: fixed;
    margin: 0;
    padding: 20px 40px;
    top: 20px;
    left: 50%;
    transform: translate(-50%, calc(-100% - 30px));
    background-color: white;
    border: solid 1px #0004;
    border-radius: 10px;
    box-shadow: 0 5px 5px 0 #0002;
    z-index: 2;
    pointer-events: none;
    transition: 0.25s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.dark_mode #message_box {
    color: white;
    background-color: #555;
    border: solid 1px #fff4;
    box-shadow: 0 5px 5px 0 #fff2;
}

#message_box.message_box_warn {
    background-color: #ffa;
}

.dark_mode #message_box.message_box_warn {
    background-color: #550;
}

#message_box.message_box_error {
    background-color: #fcc;
}

.dark_mode #message_box.message_box_error {
    background-color: #500;
}


#message_box.message_box_visible {
    transform: translateX(-50%);
    transition: 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

/* メイン表示部分 */
main {
    position: absolute;
    width: calc(100% - 30px * 2);
    min-width: 1114px;
    padding: 0 30px;
    bottom: 10px;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

main > div {
    height: fit-content;
}

/* 暗くするフィルター */
.dim_filter {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0%;
    pointer-events: none;
}

.dark_mode #dark_mode_filter {
    opacity: 75%;
}

/* 時計表示部分 */
#clock_area {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 7ex;
    margin-bottom: 30px;
    white-space: nowrap;
    font-size: 128px;
    font-weight: bold;
}

#clock_area > p {
    margin: 0;
    color: white;
}

.dark_mode #clock_area > p {
    color: darkgray;
}

#clock_date {
    font-size: 32px;
}

#clock_time {
    line-height: 128px;
}

#clock_dot {
    transition: opacity 1s ease-in-out;
}

.clock_blink_animation {
    opacity: 50%;
}

/* カード表示部分 */
#card_area {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    perspective: 1000px;
}

#card {
    position: relative;
    width: 492px;
    padding: 4px;
    aspect-ratio: 3 / 1;
    background-color: whitesmoke;
    border: solid 1px #0001;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #0001;
    transform-style: preserve-3d;
}

.dark_mode #card {
    color: white;
    background-color: #555;
    border: solid 1px #fff1;
    box-shadow: 0 0 5px 2px #fff1;
}

#card > div {
    position: absolute;
    display: none;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    border-radius: 10px;
}

#card > .card_front {
    transform: translateZ(1px);
}

#card > .card_back {
    transform: translateZ(-1px) rotateY(180deg);
}

#card > .card_front, #card > .card_back {
    display: revert;
}

#card.card_flip_animation {
    transform: rotateY(180deg);
    transition: 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

/* カード内容の共通クラス */
.card_small_text {
    font-size: small;
}

/* カード1枚目：測定温湿度 */
#card_1.card_front, #card_1.card_back {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#card_1 > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card_1 p {
    margin: 0;
}

.card_1_data_text {
    font-size: 24px;
}

.card_1_data_text > span {
    font-size: 48px;
}

.card_1_graph_area {
    position: relative;
    flex-grow: 1;
    width: calc(100% - 12px);
    border: solid 1px darkgray;
}

.card_1_graph_area::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    top: 50%;
    background-color: gainsboro;
}

.dark_mode .card_1_graph_area::before {
    background-color: dimgray;
}

.card_1_graph_area > p {
    position: absolute;
    padding: 0 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: gainsboro;
    background-color: whitesmoke;
}

.dark_mode .card_1_graph_area > p {
    color: dimgray;
    background-color: #555;
}

.card_1_graph_elements_area {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.card_1_graph_elements_area > div {
    width: 100%;
    height: 4px;
    background-color: black;
}

.dark_mode .card_1_graph_elements_area > div {
    background-color: white;
}

#card_1_discomfort_index_text {
    margin-top: 10px !important;
}

#card_1_discomfort_index_bar_area {
    width: calc(100% - 20px);
    margin-top: 5px;
}

#card_1_discomfort_index_arrow {
    width: 12px;
    height: 12px;
    background-color: black;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    transform: translateX(-50%);
}

.dark_mode #card_1_discomfort_index_arrow {
    background-color: white;
}

#card_1_discomfort_index_bar {
    width: 100%;
    height: 6px;
    background: linear-gradient(to right, mediumblue 14.3%, dodgerblue 14.3%, dodgerblue 28.6%, mediumseagreen 28.6%, mediumseagreen 42.9%, greenyellow 42.9%, greenyellow 57.3%, yellow 57.3%, yellow 71.5%, darkorange 71.5%, darkorange 85.8%, firebrick 85.8%);
    border: solid 1px black;
}

.dark_mode #card_1_discomfort_index_bar {
    border-color: white;
}

#card_bar {
    display: flex;
    justify-content: space-around;
    width: 500px;
    height: 5px;
    padding: 10px 0;
}

#card_bar > div {
    width: var(--card-bar-width);
    height: 5px;
    border-radius: 5px;
    background-color: #888;
    opacity: 75%;
}

#card_bar > div::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 5px;
    border-radius: 5px;
    background-color: #fff;
}

.card_bar_progression::after {
    width: var(--card-bar-width) !important;
    transition: var(--card-flip-interval) linear;
}

.card_bar_progression_end::after {
    animation: card-bar-progression-end 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

@keyframes card-bar-progression-end {
    0% {
        width: var(--card-bar-width);
        transform: translateX(0px);
    }
    100% {
        width: 0px;
        transform: translateX(var(--card-bar-width));
    }
}

/* ハンバーガーメニュー */
#hamburger_menu {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    pointer-events: none;
}

#hamburger_menu_background {
    transition: 0.5s;
}

.hamburger_menu_opened #hamburger_menu_background {
    opacity: 50%;
    pointer-events: fill;
}

nav {
    position: absolute;
    width: 360px;
    height: 100%;
    top: 0;
    right: 0;
    transform: translateX(300px);
    z-index: 1;
    transition: 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.hamburger_menu_opened nav {
    transform: translateX(0px);
}

nav > div {
    position: absolute;
    left: 60px;
    pointer-events: fill;
}

/* ハンバーガータブ */
#hamburger_menu_tab {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px 0;
    width: 60px;
    height: 246px;
    margin-top: 30px;
    background-color: whitesmoke;
    border-radius: 10px 0 0 10px;
    transition: left 0.25s;
}

.dark_mode #hamburger_menu_tab {
    background-color: #444;
}

.hamburger_menu_tab_visible {
    left: 0px;
}

#hamburger_menu_tab > button {
    position: relative;
    width: 60px;
    height: 60px;
}

#hamburger_menu_tab > button.disabled {
    cursor:not-allowed;
}

#hamburger_menu_tab > button.disabled > img {
    opacity: 25%;
}

#hamburger_menu_tab > button:not(:last-child)::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: lightgray;
}

.dark_mode #hamburger_menu_tab > button:not(:last-child)::after {
    background-color: dimgray;
}

/* ハンバーガータブのボタンアイコン */
.icon_button {
    position: relative;
}

.icon_button > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon_button .icon_button_popup {
    transform: translate(-50%, -50%) scale(0%);
    transition: 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.icon_button.popup_visible .icon_button_popup {
    transform: translate(-50%, -50%) scale(100%);
}

/* ハンバーガータブの開閉ボタン*/
#menu_button_open_close {
    position: relative;
}

#menu_button_open_close > div {
    position: absolute;
    width: 40px;
    height: 6px;
    left: 10px;
    background-color: dimgray;
    transition: background-color 0.5s, transform 0.5s;
}

.dark_mode #menu_button_open_close > div {
    background-color: gainsboro;
}

.hamburger_menu_opened #menu_button_open_close > div {
    background-color: maroon;
}

.dark_mode .hamburger_menu_opened #menu_button_open_close > div {
    background-color: red;
}

#menu_button_icon_open_close_1 {
    top: 12px;
}

.hamburger_menu_opened #menu_button_icon_open_close_1 {
    transform: translateY(15px) rotateZ(45deg);
}

#menu_button_icon_open_close_2 {
    top: 27px;
}

.hamburger_menu_opened #menu_button_icon_open_close_2 {
    transform: scaleX(0%);
}

#menu_button_icon_open_close_3 {
    top: 42px;
}

.hamburger_menu_opened #menu_button_icon_open_close_3 {
    transform: translateY(-15px) rotateZ(-45deg);
}

/* ハンバーガータブのフルスクリーンボタン*/
#menu_button_fullscreen {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#menu_button_fullscreen > img {
    transition: 0.5s;
}

.dark_mode #menu_button_fullscreen > img, .dark_mode .icon_button > img {
    filter: brightness(215%);
}

#menu_button_icon_fullscreen_1 {
    margin: 10px 0 0 10px;
}

.fullscreen #menu_button_icon_fullscreen_1 {
    transform: rotateZ(180deg);
}

#menu_button_icon_fullscreen_2 {
    margin: 10px 0 0 2px;
    transform: rotateZ(90deg);
}

.fullscreen #menu_button_icon_fullscreen_2 {
    transform: rotateZ(-90deg);
}

#menu_button_icon_fullscreen_3 {
    margin: 2px 0 0 10px;
    transform: rotateZ(-90deg);
}

.fullscreen #menu_button_icon_fullscreen_3 {
    transform: rotateZ(-270deg);
}

#menu_button_icon_fullscreen_4 {
    margin: 2px 0 0 2px;
    transform: rotateZ(180deg);
}

.fullscreen #menu_button_icon_fullscreen_4 {
    transform: rotateZ(360deg);
}

/* ハンバーガーカラム */
#hamburger_menu_column {
    display: flex;
    flex-direction: column;
    gap: 2px 0;
    width: 300px;
    height: 100%;
    top: 0;
    background-color: white;
    overflow-y: scroll;
}

.dark_mode #hamburger_menu_column {
    background-color: #555;
}

.dark_mode #hamburger_menu_column button, .dark_mode #hamburger_menu_column label {
    color: white;
}

#hamburger_menu_column button, #hamburger_menu_column label {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-size: large;
    cursor: pointer;
}

#hamburger_menu_column button::after, #hamburger_menu_column label::after {
    content: "";
    position: absolute;
    display: block;
    width: 280px;
    height: 2px;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: lightgray;
}

.dark_mode #hamburger_menu_column button::after, .dark_mode #hamburger_menu_column label::after {
    background-color: dimgray;
}

#tablet_clock_title {
    margin: 0 0 3px 0;
    padding: 30px 0;
    text-align: center;
    color: white;
    background-color: royalblue;
    box-shadow: 0 3px 5px 0 #0004;
}

.dark_mode #tablet_clock_title {
    background-color: darkblue;
}

.dark_mode #hamburger_menu_column {
    box-shadow: 0 3px 5px 0 #fff4;
}

#tablet_clock_title::after {
    content: none;
}

.hamburger_menu_collapse_button > :first-child {
    position: relative;
}

.hamburger_menu_collapse_button > :first-child > img {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%) rotateZ(0deg);
    transition: 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.dark_mode .hamburger_menu_collapse_button > :first-child > img {
    filter: brightness(215%);
}

.collapse_menu_opened > :first-child > img {
    transform: translateY(-50%) rotateZ(180deg);
}

.hamburger_menu_column_radio_selection {
    display: none;
    flex-direction: column;
    gap: 2px 0;
    margin-top: 2px;
    background-color: whitesmoke;
}

.dark_mode .hamburger_menu_column_radio_selection {
    background-color: #444;
}

.collapse_menu_opened .hamburger_menu_column_radio_selection {
    display: flex;
}

.hamburger_menu_column_radio_selection > button {
    width: 100%;
}

.hamburger_menu_column_radio_selection > div {
    position: relative;
}

.hamburger_menu_column_radio_selection > div > input {
    position: absolute;
    visibility: hidden;
}

.hamburger_menu_column_radio_selection > div > input:checked::after {
    content: "✓";
    position: absolute;
    top: 50%;
    left: 10px;
    color: lime;
    font-size: large;
    font-weight: bold;
    visibility: visible;
}

.hamburger_menu_column_radio_selection > div > label {
    user-select: none;
}