/* CSS変数 */
:root {
    --card-flip-interval: 10s;
    --card-bar-width: 0px;
}

/* 全体 */
html {
    width: 100%;
    min-width: 1174px;
    height: 100%;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

/* 個別 */
/* 背景 */
#background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: lightskyblue;
    z-index: -1;
}

/* メイン表示部分 */
main {
    position: absolute;
    width: calc(100% - 30px * 2);
    min-width: 1114px;
    padding: 0 30px;
    bottom: 10px;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

main > div {
    height: fit-content;
}

/* 時計表示部分 */
#clock_area {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 7ex;
    margin-bottom: 30px;
    white-space: nowrap;
    font-size: 128px;
    font-weight: bold;
}

#clock_area > p {
    margin: 0;
    color: white;
}

#clock_date {
    font-size: 32px;
}

#clock_time {
    line-height: 128px;
}

#clock_dot {
    transition: 1s ease-in-out;
}

.clock_blink_animation {
    opacity: 50%;
}

/* カード表示部分 */
#card_area {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    perspective: 1000px;
}

#card {
    width: 500px;
    aspect-ratio: 3 / 1;
    background-color: whitesmoke;
    border: solid 1px #00000011;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #00000011;
    transform-style: preserve-3d;
}

#card > div {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#card > .card_front {
    transform: translateZ(1px);
}

#card > .card_back {
    transform: translateZ(-1px) rotateY(180deg);
}

#card > .card_front, #card > .card_back {
    display: revert;
}

#card > div > * {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card_flip_animation {
    transform: rotateY(180deg);
    transition: 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#card_bar {
    display: flex;
    justify-content: space-around;
    width: 500px;
    height: 5px;
    padding: 10px 0;
}

#card_bar > div {
    width: var(--card-bar-width);
    height: 5px;
    border-radius: 5px;
    background-color: #888;
    opacity: 75%;
}

#card_bar > div::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 5px;
    border-radius: 5px;
    background-color: #fff;
}

.card_bar_progression::after {
    width: var(--card-bar-width) !important;
    transition: var(--card-flip-interval) linear;
}

.card_bar_progression_end::after {
    animation: card-bar-progression-end 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

@keyframes card-bar-progression-end {
    0% {
        width: var(--card-bar-width);
        transform: translateX(0px);
    }
    100% {
        width: 0px;
        transform: translateX(var(--card-bar-width));
    }
}

/* ハンバーガーメニュー */
#hamburger_menu {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    pointer-events: none;
}

#hamburger_menu_background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0%;
    pointer-events: none;
    transition: 0.5s;
}

.hamburger_menu_opened #hamburger_menu_background {
    opacity: 50%;
    pointer-events: fill;
}

nav {
    position: absolute;
    display: flex;
    width: 360px;
    height: 100%;
    top: 0;
    right: 0;
    transform: translateX(300px);
    pointer-events: fill;
    z-index: 1;
    transition: 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.hamburger_menu_opened nav {
    transform: translateX(0px);
}

/* ハンバーガータブ */
#hamburger_menu_tab {
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 60px;
    margin-top: 30px;
    background-color: whitesmoke;
    border-radius: 10px 0 0 10px;
}

#hamburger_menu_tab > div {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

#menu_button_open_close {
    position: relative;
}

#menu_button_open_close > div {
    position: absolute;
    width: 40px;
    height: 6px;
    left: 10px;
    background-color: dimgray;
    transition: 0.5s;
}

.hamburger_menu_opened #menu_button_open_close > div {
    background-color: maroon;
}

#menu_button_icon_open_close_1 {
    top: 12px;
}

.hamburger_menu_opened #menu_button_icon_open_close_1 {
    transform: translateY(15px) rotateZ(45deg);
}

#menu_button_icon_open_close_2 {
    top: 27px;
}

.hamburger_menu_opened #menu_button_icon_open_close_2 {
    transform: scaleX(0%);
}

#menu_button_icon_open_close_3 {
    top: 42px;
}

.hamburger_menu_opened #menu_button_icon_open_close_3 {
    transform: translateY(-15px) rotateZ(-45deg);
}

/* ハンバーガーカラム */

#hamburger_menu_column {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    background-color: white;
}